
.footer_links a:link,
.footer_links a:visited,
.footer_links a:active {
    text-decoration: none;
    color: lightgray;
}

.footer_links a:hover {
    color: #fff;
}

.mybody {
    display: flex;
    justify-content: center;
    max-width: 1360px;
    align-items: center;
    margin: auto;
}

#footer {
    display: block;
    color: lightgray;
    background-color: #363b3e;
    width: 100%;
}

.footer-content{
    max-width: 1360px;
}


.footer_list {
    list-style: none;
}

.footer_list li:hover {
    color: #fff;
    cursor: pointer;
}

.footer_list li {
    padding: 3px 2px;
    line-height: 1.5;
}

.footer_list li:nth-child(1) {
    text-transform: uppercase;
    padding: 10px 0px;
    color: #fff;
    cursor: auto;
}

.small {
    font-size: small;
    font-weight: 400;
}

.footer_dropdown__content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: grey;
    padding: 2px 2px;
    z-index: 1;
    overflow-y: auto;
    margin-bottom: 15px;
    bottom: 15px;
    border: 1px solid grey;
    border-radius: 3px;
    width: 150px;
    margin-right: 15px;
}

.footer_dropdown__content ul {
    padding: 0;
    margin: 0;
    max-height: 150px;
}

.footer_dropdown__content li {
    padding: 6px 10px;
    border-bottom: 1px solid grey;
}

.footer_dropdown {
    position: relative;
    display: inline-block;
}

/*.footer_dropdown:hover .footer_dropdown__content {*/
/*display: block;*/
/*}*/

.li_no-decoration {
    list-style: none;
}

.block{
    display: block!important;
}

.down_footer {
    height: 90px;
    font-size: 14px;
}

.blue-circle-border {
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.blue-circle-border i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.footer-social-network {
    display: inline-flex;
    color: #ffffff;
}

.footer-social-network:hover {
    cursor: pointer;
}

.footer-social-network span {
    margin-left: 3px;
    margin-right: 3px;
}