body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    font-family: sans-serif, Georgia;
    font-size: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar__list a {
  font-size: 1.125em;
  color: #666c70;
}

.navbar__list a:hover {
  color: #363b3e;
}

.navbar__container {
  display: flex;
  max-width: 1360px;
  height: 85px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  flex-basis: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.navbar__list--left {
  flex: 1;
  justify-content: flex-start;
}

.navbar__list--left > * {
  margin-right: 20px;
}

.navbar__list--center {
  text-align: center;
  flex: 1;
}

.weebly-logo {
  height: 38px;
  min-width: 150px;
}

.weebly-logo:hover {
  cursor: pointer;
}

.navbar__list--right {
  justify-content: flex-end;
  flex: 1;
}

.language {
  font-size: 18px;
  color: #666c70;
}

.language:hover {
  cursor: pointer;
  color: #363b3e;
}

.arrow-drop-down {
  font-size: 18px;
  color: #666c70;
}

.arrow-drop-down:hover {
  cursor: pointer;
  color: #363b3e;
}

.navbar__list--right > * {
  margin-left: 20px;
}

.navbar__signup-btn {
  height: 40px;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: transparent;
  color: #2990ea;
  font-size: 1.125em;
  font-weight: 600;
  border: 2px solid #c9cdcf;
  border-radius: 40px;
}

.navbar__signup-btn:hover {
  cursor: pointer;
  border: 2px solid #9ba0a3;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.pl-1 {
    padding-left: 1rem;
}

.link-btn {
    color: #2990ea;
    text-decoration: underline;
}

.blue-btn {
    display: inline-block;
    padding: 0 40px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    background: #2990ea;
    text-transform: uppercase;
    border-radius: 44px;
}

.checklist .checklist__item ::before {
    content: ' ';
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 45px;
    height: 45px;
    background-image: url("/Web-UI/assets/images/circle-check.png");
    background-size: 100%;
}

.page-section-3 {
    padding: 180px 0;
    position: relative;
    background-color: white;
}

.page-container {
    width: calc(100% - 320px);
    max-width: 1360px;
    margin: auto;
}

.page-title {
    margin-bottom: 30px;
    color: #363b3e;
    font-size: 55px;
    font-weight: 900;
    line-height: 1.2em;
}

.checklist {
    margin-bottom: 60px;
}

.page-section-3 .checklist__item {
    position: relative;
    margin: 20px 0;
    color: #363b3e;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-left: 80px;
}

.image-items {
    position: absolute;
}

.item-iphone {
    top: calc(50% - 510px);
    left: 79.25%;
    width: 408px;
    height: 709px;
}

.item-box {
    top: calc(50% - 334px);
    left: 75%;
    width: 506px;
    height: 668px;
}

.item-orders {
    top: calc(50% - 90px);
    left: 58.5%;
    width: 803px;
    height: 363px;
}

.item-sales {
    top: calc(50% - 290px);
    left: 49.75%;
    width: 583px;
    height: 348px;
}

.item-sales:hover {
    transition: opacity 5s ease-in 5s, transform 0.425s ease-out 0.3s;
}

/*section1*/
div {
    display: block;
}

#navbar {
    height: 300px;
    background: #a5a0a0;
    opacity: 0.8;
}

#header {
    height: 200px;
    background: brown;
    opacity: 0.9;
}

#section1 {
    min-height: 600px;
    position: relative;
}

#text-animation {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.section1_overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    opacity: 0.8;
    background: cornflowerblue;
    min-height: 700px;
    width: 100%;

}

.text_animation_container {
    position: relative;
    min-height: 700px;
    width: 75%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.text-animation {
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-align: center;
}

.section1_video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    min-width: 100%;
    min-height: 100%;
}

.footer_links a:link,
.footer_links a:visited,
.footer_links a:active {
    text-decoration: none;
    color: lightgray;
}

.footer_links a:hover {
    color: #fff;
}

.mybody {
    display: flex;
    justify-content: center;
    max-width: 1360px;
    align-items: center;
    margin: auto;
}

#footer {
    display: block;
    color: lightgray;
    background-color: #363b3e;
    width: 100%;
}

.container {
    max-width: 1360px;
}

.flex {
    display: flex;;
}

.justify-content_space-around {
    justify-content: space-around;
}

.justify-content_space-between {
    justify-content: space-between;
}

.align-ithem_baseline {
    align-items: baseline;
}

.align-ithem_center {
    align-items: center;
}

.pl-1 {
    padding-left: 1rem;;
}

.pl-2 {
    padding-left: 2rem;;
}

.pl-3 {
    padding-left: 3rem;;
}

.pr-1 {
    padding-right: 1rem;;
}

.pr-2 {
    padding-right: 2rem;;
}

.pr-3 {
    padding-right: 3rem;;
}

.footer_list {
    list-style: none;
}

.footer_list li:hover {
    color: #fff;
    cursor: pointer;
}

.footer_list li {
    padding: 2px;
}

.footer_list li:nth-child(1) {
    text-transform: uppercase;
    color: #fff;
    cursor: auto;
}

.small {
    font-size: small;
    font-weight: 400;
}

.footer_dropdown__content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: grey;
    padding: 2px 2px;
    z-index: 1;
    overflow-y: auto;
    margin-top: 15px;
    border: 1px solid grey;
}

.footer_dropdown__content ul {
    padding: 0;
    margin: 0;
    max-height: 150px;
}

.footer_dropdown__content li {
    padding: 4px 10px;
    border-bottom: 1px solid grey;
}

.footer_dropdown {
    position: relative;
    display: inline-block;
}

.footer_dropdown:hover .footer_dropdown__content {
    display: block;
}

.li_no-decoration {
    list-style: none;
}

.down_footer {
    height: 90px;
}

.blue-circle-border {
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.blue-circle-border i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.footer-social-network {
    display: inline-flex;
    color: #ffffff;
}

.footer-social-network:hover {
    cursor: pointer;
}

.footer-social-network span {
    margin-left: 3px;
    margin-right: 3px;
}

/* STYLES FOR SECTION 2 */
.home-themes {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #363b3e;
}

/* maybe universal class */
.landing-page-container {
    text-align: center;
    max-width: 1360px;
    margin: 0 auto;
    width: calc(100% - 440px);
}

.landing-page-content__centered {
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

.landing-page-title {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    line-height: 1.2em;
    margin-bottom: 30px;
}

.landing-page-text {
    color: rgba(255,255,255,0.75);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75em;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
}

.home-themes_tabs-container {
    height: 55px;
    margin-bottom: 15px;
}

.tabs {
    position: relative;
    text-align: center;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 20px;
}

.tabs::-webkit-scrollbar {
    height: 0.3em;
}

.tabs::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.6);
    border-radius: 2px;
}

.tabs::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 2px;
}

.tabs_item {
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    margin-right: 50px;
    transition: color 0.2s ease-in-out;
}

.tabs_item:last-child {
    margin-right: 0;
}

.tabs_item:hover {
    color: #fff;
}

.tab-content_item {
    display: block;
}

.tab-content_item-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px auto;
    max-width: 1050px;
}

.home-themes_theme-container {
    flex: 0 0 50%;
}

.theme-poster {
    margin: auto;
    padding: 25px;
    /* HOVER OFF */
    transition-duration: 0.75s;
}

.tab-content_item-container:hover .theme-poster {
    opacity: 0.5;
}

.tab-content_item-container .theme-poster:hover {
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
    /* HOVER ON */
    transition-duration: 0.75s;
}

.theme-poster img {
    width: 100%;
    margin: 10px;
}

.page-btn {
    color: #fff;
    display: inline-block;
    padding: 0 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 25px;
    /* HOVER OFF */
    transition-duration: 0.75s;
}

.page-btn:hover {
    cursor: pointer;
    background-color: #fff;
    //transform: scale(1.2);
    color: #000;
    /* HOVER ON */
    transition-duration: 0.75s;
}

/*
.raise-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}
*/
/* END OF STYLES FOR SECTION 2 */

/* STYLES FOR SECTION 7 */

.landing-page-text__link {
    text-decoration: underline;
    text-transform: uppercase;
    color: #666c70;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.landing-page-text__link:hover {
    color: #2990ea;
}

.color-text {
    color: #000;
}

.home-apps {
    padding: 100px 0;
    background-color: #f8f8f8;
}

.home-apps__item {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    left: 0;
}

.landing-page-text-dark {
    color: #666c70;
}

.home-apps__item-container {
    position: relative;
    width: 100%;
    max-width: 1136px;
}

.home-apps__item-bottom {
    z-index: 1;
    position: relative;
}

.home-apps__item-mid {
    z-index: 2;
}

.home-apps__item-top {
    z-index: 3;
}

.home-apps__item-featured {
    z-index: 4;
}

.home-apps__img {
    width: 100%;
}

/* END OF STYLES FOR SECTION 7 */