/* STYLES FOR SECTION 5 */

.section5 {
    background-color: #807FFF;
    position: relative;
    padding: 280px 0;
    overflow: hidden;
}

.section5-container {
    text-align: center;
    //margin: 0 auto;
}

.landing-page-content {
    max-width: 500px;
    width: 100%;
    margin: 0;
    text-align: left;
    position: relative;
    z-index: 5;
    opacity: 1;
    margin: 0 auto;
}

.section5-title {
    color: #fff;
    //font-size: 45px;
    font-weight: 900;
    //line-height: 1.2em;
    margin-bottom: 30px;
    text-align: center;
}

.section5-text,
.section7-text {
    color: rgba(255,255,255,0.75);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75em;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.state-btn {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.section5-container .state-btn .raise-btn {
    background-color: #fff;
    color: #807FFF;
    display: inline-block;
    padding: 0 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 25px;
    /* HOVER OFF */
    transition-duration: 0.5s;
    text-decoration: none;
}

.section5-container .state-btn .raise-btn:hover {
    cursor: pointer;
    color: #807FFF;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.app-icon {
    margin-top: 50px;
    text-align: center;
}

.app-icon img {
    width: 122px;
    margin-right: 20px;
}

.mobile-item {
    position: absolute;
}

.mobile-iphone {
    z-index: 4;
    display: block;
    top: 220px;
    left: calc(50% + 150px);
    width: 492px;
    height: 821px;
}

.mobile-iphone02 {
    z-index: 3;
    top: -740px;
    left: calc(50% - 300px);
    width: 538px;
    height: 795px;
}

.mobile-android {
    z-index: 2;
    display: block;
    top: -750px;
    left: calc(50% + 100px);
    width: 388px;
    height: 815px;
    position: absolute;
}

.mobile-nexus {
    z-index: 0;
    bottom: -795px;
    left: calc(50% - 300px);
    width: 1042px;
    height: 1025px;
}

@media only screen and (min-width: 992px) {
    .section5-container {
        text-align: center;
        max-width: 1360px;
        margin: 0 auto;
        width: calc(100% - 440px);
    }

    .landing-page-content {
        margin-left: 0;
    }

    .section5-title {
        text-align: left; 
    }

    .section5-text {
        text-align: left;
    }

    .state-btn {
        text-align: left;
    }

    .app-icon {
        text-align: left;
    }

    .mobile-iphone02 {
        text-align: center;
        margin: 0 auto;
        top: -460px;
        left: calc(50% - 80px);
    }
}

/* END OF STYLES FOR SECTION 5 */