@import "styles/common/variables/_colors";
@import "styles/common/variables/_typography";

.navRightComponent{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  text-transform: capitalize;
  list-style-type: none;
  margin: 0;
  align-items: center;


  li {
    padding-left: 1em;

    &:hover {
      cursor: pointer;
      color: $white;
    }
  }
}