@import "styles/common/variables/colors";
@import "styles/common/variables/typography";

.navRightComponent{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  text-transform: capitalize;
  list-style-type: none;
  margin: 0;
  align-items: center;
}

.navRightComponent li {
  padding-left: 2em;
}

.navRightComponent li:hover {
  cursor: pointer;
  color: $white;
}