@import "styles/common/variables/_colors";
@import "styles/common/variables/_typography";

.signupBtn {
  text-transform: capitalize;
  // border: 2px solid #D3D3D3;
  border-radius: 25px;
  background-color: transparent;
  // color: $white;
  font-size: $tiny-font;
  font-weight: 600;
  width: 120px;
  height: 40px;
  transition-duration: 0.3s;

  &:hover {
    //border: 2px solid $white;
    cursor: pointer;
    transition-duration: 0.3s;
  }
}

.colorBtnWhite {
  color: $white;
  border: none;
}

.colorBtnBlue {
  color: $sky-blue;
  border: none;
}

@media only screen and (min-width: 992px) {
  .colorBtnWhite {
    border: 2px solid #D3D3D3;

    &:hover {
      border: 2px solid $white;
    }
  }

  .colorBtnBlue {
    border: 1px solid #D3D3D3;

    &:hover {
      border: 2px solid #696969;
    }
  }
}