// variables
$sky-blue: #2990ea;
$btn-width: 270px;
$btn-padding: 10px;
$btn-border-radius: 50px;
$dark-grey: #363b3e;
$color-snow-white: #fff;
$btn-border-width: 2px;

.section2-btn {
  .btn-featured {
    text-align: center;
    padding: $btn-padding;
    margin: auto;
    display: block;
    background: inherit;
    width: $btn-width;
    cursor: pointer;
    font-weight: bolder;
    border: $btn-border-width solid $color-snow-white;
    border-radius: $btn-border-radius;
    color: white;
    &:hover {
      color: $dark-grey;
      background: $color-snow-white;
      transition: all 0.3s ease-in 0s;
    }
  }
}


.section9 .btn-featured {
  color: #fff;
  display: inline-block;
  padding: 0 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #2990ea;
  border-radius: 25px;
  background-color: transparent;
  transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  margin: 0 auto;
}

.section9 .btn-featured:hover {
  background-color: #2990ea;
  color: #fff;
}