.blue-circle-border {
    border: 1px solid #ffffff;
    border-radius: 20px;
}
.footer_listContnet{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.footer_list {
    list-style: none;
    padding: 0;
    margin-top:0;
    margin-bottom: 1rem;
    color: lightgray;
}

.footer_list > li{
    padding-top: 1px;
    padding-bottom: 1px;
}

.footer_list > li:nth-child(1){
    text-transform: uppercase;
    padding: 10px 0px;
    color: #fff;
    cursor: auto;
}

.footer_list > li:hover{
    color: #ffffff;
    cursor: pointer;
    transition-duration: 0.3s;
}

.blue-circle-border  {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.footer-social-network {
    display: inline-flex;
    color: #ffffff;
}

.footer-social-network:hover {
    cursor: pointer;
}

.footer-social-network span {
    margin-left: 3px;
    margin-right: 3px;
}