// variables
$header-title-size: 3.5rem;
$header-subtitle-size: 1.25rem;
$subtitle-line-height: 2rem;
$subtitle-max-width: 580px;
$color-title-white: #fff;
$color-subtitle-gray: #666c70;
$title-margin-bottom: 30px;
$subtitle-margin-bottom: 40px;

.section2-header {
  text-align: center;

  .title {
    font-size: $header-title-size;
    color: $color-title-white;
    font-weight: bold;
    margin-bottom: $title-margin-bottom;
  }

  .subtitle {
    margin: auto;
    font-size: $header-subtitle-size;
    color: $color-subtitle-gray;
    line-height: $subtitle-line-height;
    max-width: $subtitle-max-width;
    margin-bottom: $subtitle-margin-bottom;
  }

}
