@import "styles/common/variables/_colors";
@import "styles/common/variables/_typography";

.columns {
  display: block;
  justify-content: center;
  align-items: center;
}

.column {
  color: $white;
  padding-left: 0;
  margin-bottom: 75px;
}

.columnHeader {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.titleSec9 {
  font-size: 1.75rem;
  font-weight: 900;
  margin-left: 20px;
  margin-bottom: 0;
}

.listContent {
  text-align: left;
  padding-left: 0;

  li {
    list-style: none;
    text-indent: 0.7rem;
    margin-bottom: 25px; 
    font-weight: 600;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .column {
    padding-left: 0;
    min-width: 370px;
}

  .columnHeader {
    justify-content: left;
    margin-bottom: 50px;
  }

  .listContent {
    padding-left: 5px;

    li {
      text-align: left;
      min-width: 380px;
    }
  }

  .listContent > li:before {
    content: "â— ";
    color: grey;
    margin-right: 2.0rem;
  }
}