.sectionContainer1 {
    min-height: 845px;
    position: relative;
    display: block;
    text-align: center;
}

.sectionContainer1_overlay {
    height: 845px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -10;
    opacity: 0.8;
    background: #2297e6;
    width: 100%;
}

.sectionContainer1_video {
  position: absolute;
  /*top: -200px;*/
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -20;
  overflow: hidden;
}

.sectionContainer1_animated-text {
    height: 65px;
    font-size: 65px;
    font-weight: bold;
    text-align: left;
    color: white;
    font-family: cursive;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 25%;
}

.sectionContainer1-button {
    margin-top: 10%;
    width: auto;
    display: block;
}

.section1-wrapper{
    position: absolute;
    top: 40%;
    display: block;
    width: 100%;
}
