@import "styles/common/variables/_colors";
@import "styles/common/variables/_typography";

.textSec6 {
  color: $white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  h1 {
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 3rem;
  }

  p {
    max-width: 820px;
    margin: 0 auto;
    font-size: $small-font;
    line-height: 1.75em;
    font-weight: 400;
  }
}
