.navbarTransparent {
  background-color: transparent;
}

.navbarBlueBackground {
  background-color: #0275d8;
}

.navbarContainer {
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
}

.navbarComponent {
  width: 90%;
  flex-direction: row;
  display: flex;
  border-bottom: 1px solid grey;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

