.section8Container .row{
    height: 650px;
}

.section8Container *{
    text-align: center;
}

.vCenter{
    display: inline-grid;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.whitebg{
    background-color: white;
}
