@import "styles/common/variables/_colors";
@import "styles/common/variables/_typography";

.navLeftComponent ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  text-transform: capitalize;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navLeftComponent li {
  margin-right: 1em;
}

.navLeftComponent li:hover {
  cursor: pointer;
  color: $white;
}

// .navIcon {
//   margin-right: 10px;

//   &:hover {
//     cursor: pointer;
//   }
// }