#section6 {
    height: 80vh;
    overflow-y: hidden;
    z-index: 1
}

.content-text {
    max-width: 1150px;
    margin: auto;
    text-align: center;
    line-height: 1.75
}

.page-text {
    font-size: 20px;
    line-height: 1.75em;
    font-weight: 300;
}