#section6 {
    height: 80vh;
    overflow-x: hidden;
    z-index: 1;
}

.page-section-6 {
    width: 100%;
}

.w-60 {
    max-width: 60%;
}

@media (max-width: 1400px) {
    .w-60 {
        max-width: 80%;
    }
}
