.header {
  position: relative;
}

.header .navbar {
  /*width: 100%;*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  background-color: transparent;
  /*z-index: 100;*/
}
/*
.header .navbar .list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header .navbar .list a {
  font-size: 1.125em;
  transition: all 0.2s ease-in-out;
}

.header .navbar .list-left > li > a {
  color: rgba(255,255,255,0.8);
}

.header .navbar .list-left > li > a:hover {
  color: #fff;
}

.header .navbar .list .login > a {
  color: rgba(255,255,255,0.8);
}

.header .navbar .list .login > a:hover {
  color: #fff;
}

.header .navbar .container {
  display: flex;
  max-width: 1360px;
  height: 85px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  flex-basis: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header .navbar .list-left {
  flex: 1;
  justify-content: flex-start;
}

.header .navbar .list-left > * {
  margin-right: 20px;
}

.header .navbar .list-center {
  text-align: center;
  flex: 1;
}

.header .navbar .weebly-logo {
  height: 38px;
  transition: all 0.2s ease-in-out;
  min-width: 150px;
  opacity: 0.8;
}

.header .navbar .weebly-logo:hover {
  cursor: pointer;
  opacity: 1;
}

.header .navbar .list-right {
  justify-content: flex-end;
  flex: 1;
}

.header .navbar .list-right .language {
  font-size: 1.125em;
  color: rgba(255,255,255,0.8);
}

.header .navbar .list-right .language:hover {
  cursor: pointer;
  color: #fff;
}

.header .navbar .list-right .arrow-drop-down {
  position: relative;
  font-size: 1.125em;
  transition: all 0.2s ease-in-out;
  color: rgba(255,255,255,0.8);
}

.header .navbar .list-right .arrow-drop-down:hover {
  cursor: pointer;
  color: #fff;
}

.header .navbar .list-right .dropdown-content {
  display: none;
  padding-left: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 320px;
  position: absolute;
  -webkit-margin-start: -68px;
  -webkit-margin-before: 5px;
  background-color: #fcfcfc;
  max-width: 135px;
  border-radius: 2px;
  border: 0.5px solid #666c70;
  transition: border 0.2s ease-in-out,margin 0.2s ease-in-out;
  z-index: 1;
}

.header .navbar .list-right .chevron-up {
  display: none;
  position: absolute;
  -webkit-margin-start: 6px;
  z-index: 100;
}

.rolled_down {
  display: block;
}

.header .navbar .list-right .dropdown-content a {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  color: #666c70;
  font-size: 1em;
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #c9cdcf;
}

.header .navbar .list-right .dropdown-content a:hover {
  background-color: #F8F8F8;
}

.header .navbar .list-right > * {
  margin-left: 20px;
}

.header .navbar .list-right .signup-btn {
  height: 40px;
  padding: 0 30px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  font-size: 1.125em;
  font-weight: 600;
  border: 2px solid rgba(255,255,255,0.8);
  border-radius: 40px;
}

.header .navbar .list-right .signup-btn:hover {
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: inset 0 0 5px #fff;
}

*/
