.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar.weebly-navbar .white-color {
  color: rgba(255,255,255,0.8);
  font-size: 1.2rem;
}

.navbar.weebly-navbar .white-color:hover {
  color: #fff;
}
