.transparent-me {
  background-color: transparent !important;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar.weebly-navbar .white-color {
  color: rgba(255,255,255,0.8);
  font-size: 1.2rem;
}

.navbar.weebly-navbar .white-color:hover {
  color: #fff;
}

.blue-me {
  background-color: #0275d8 !important;
}

nav.navbar {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar .dropdown-menu {
  height: 320px;
  width: 160px;
  overflow-y: scroll;
}

.navbar .dropdown-menu a.active_class {
  color: #666c70;
}

.dropwdown-lg-center {
  height: 320px;
  overflow-y: scroll;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.navbar .dropdown-menu a {
  color: #666c70;
  overflow: hidden;
  font-size: 1em;
  line-height: 40px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar .dropdown-menu a:hover {
  cursor: pointer;
  background-color: #efefef !important;
}

.navbar .dropdown-menu .fa-globe {
  color: rgba(255,255,255,0.8);
  font-size: 1.5rem;
}
