body {
  background-color: #363b3e;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: sans-serif, Georgia;
  font-size: 16px;
  font-size: 100%;
  overflow-x: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

#bootstrap-overrides .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
